S3method(xtable,demographics)
export(adjustedTableLaTeX)
export(createLocalRepos)
export(demographics)
export(getAge)
export(getAgeGroups)
export(getAgeGroupsIPEDS)
export(local.available.packages)
export(local.install.packages)
export(lsos)
export(pie)
export(saveIPEDStoDB)
export(updateLocalRepos)
export(xtable.demographics)
import(ggplot2)
import(reshape)
import(tools)
import(xtable)
