export(adjustedTableLaTeX)
export(cacheQuery)
export(cohortRetention)
export(cohortSummary)
export(cohortSummaryLaTeX)
export(createLocalRepos)
export(demographics)
export(execQuery)
export(fySummary)
export(fySummaryLaTeX)
export(geocode.google)
export(geocode.ips)
export(geocode.yahoo)
export(geolite.delete)
export(geolite.load)
export(geolite.update)
export(geolite.version)
export(getAge)
export(getAgeGroups)
export(getAgeGroupsIPEDS)
export(getParameters)
export(getQueries)
export(getQuery)
export(getQueryDesc)
export(getSQLRepos)
export(likert)
export(local.available.packages)
export(local.install.packages)
export(pie)
export(plot.likert)
export(plot.likert.heat)
export(print.likert)
export(quarterlySummary)
export(quarterSummaryLaTeX)
export(retention)
export(retentionSummary)
export(retentionSummaryLaTeX)
export(saveIPEDStoDB)
export(setSQLRepos)
export(updateLocalRepos)
export(xtable.demographics)
import(ggplot2)
import(reshape)
import(tools)
S3method(plot,likert)
